.Resume-card-container {
  background-color: white;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  border-color: var(--accent-color);
}

.Resume-card-title {
  font-size: var(--normal-size);
  color: var(--main-tx-color);
}

.Resume-card-company {
  font-size: var(--small-size);
  color: var(--secondary-tx-color);
}

.Resume-card-description {
  white-space: pre-line;
}
