.Resume-card-container {
  background-color: white;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  border-color: var(--accent-color);
  background: rgba(174, 208, 222, 0.19);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(19.8px);
  -webkit-backdrop-filter: blur(19.8px);
  border: 1px solid rgba(174, 208, 222, 0.63);
}

.Resume-card-title {
  font-size: var(--normal-size);
  color: var(--main-tx-color);
}

.Resume-card-company {
  font-size: var(--small-size);
  color: var(--secondary-tx-color);
}

.Resume-card-description {
  white-space: pre-line;
}
